h2 Mike Plummer

div.fragment
  span.row
    img.small-img(src="../../../resources/images/opi-logo.png")
    h3 Object Partners, Inc.

div.fragment
  span.row
    img.small-img(src="../../../resources/images/twitter-logo.png")
    h3 @plummer_mike

div.fragment
  span.row
    img.small-img(src="../../../resources/images/github-logo.png")
    h3 mike-plummer
