.reveal
  .slides
    section(data-state="title")
      h1 Kotlin
      h2 JVM Superpowers
    section(*ngFor="let slideDeck of slides;")
      section(*ngFor="let slide of slideDeck")
        dynamic-html([content]="slide")
    section(data-state="title")
      h1 Thanks!
      span.inline
        h2 Mike Plummer
        h4 @plummer_mike
      p https://www.github.com/mike-plummer/intro-to-kotlin
