.reveal {
  section {
    img {
      background: unset;
      border: unset;
      box-shadow: unset;
    }
  }

  //h1, h2, h3, h4, h5, h6 {
  //  font-variant: small-caps;
  //}

  table {
    td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  p {
    font-size: 0.7em;
  }

  h3, h4, h5, h5 {
    color: black;
  }

  pre {
    font-size: .35em;
    width: auto;
    max-height: 560px;

    code {
      max-height: 560px;
    }
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-img {
  height: 100px;
  width: 100px;
}

.medium-img {
  height: 200px;
  width: 200px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill {
  width: 100%;
  height: 100%;
}

.obscure {
  background: #000;
  opacity: 0.5;
}

.inline {
  > * {
    display: inline;
  }
}