h2 Compiles to JVM Bytecode

div.row
  img.fragment.medium-img(src="../../../resources/images/jython.png")
  img.fragment.medium-img(src="../../../resources/images/groovy.png")
  img.fragment.medium-img(src="../../../resources/images/scala.png")

div.row
  img.fragment.medium-img(src="../../../resources/images/jruby.png")
  img.fragment.medium-img(src="../../../resources/images/clojure.png")