h3 Variable Declarations

div.fragment
  p val = Read-only value
  p var = Mutable variable

br

div.fragment
  table
    tr(style="font-family: monospace;")
      td(style="text-align: right;") var
      td myVariable:
      td Array&lt;String&gt;
      td ?
    tr
      td Mutability
      td Name
      td Type
      td Nullability
