h3 Null Safety

pre
  code.lang-kotlin
    | // Declare a mutable null value
    | var value: String? = null
    |
    | value.length        // Rejected by compiler, value can be null!
    |
    | if (value != null) {
    |     value.length    // This still isn't okay, value could have changed really fast
    | }
    |
    | value?.length        // This works, results in 'length' or 'null'
    |
    | value?.length ?: "Default value"    // Elvis operator! 'length' or 'Default value'
    |
    |
    |
    | // Declare an immutable null value
    | val value: String? = null
    |
    | if (value != null) {
    |     value.length        // Okay since the value couldn't have changed since check
    | }