h2 Null Safety

pre
  code.lang-kotlin
    | // Declare a mutable null value
    | var value: String? = null
    |
    .fragment
      |
      | value.length        // Rejected by compiler, value can be null!
      |
    .fragment
      |
      | if (value != null) {
      |     value.length    // This still isn't okay, value could have changed really fast
      | }
      |
    .fragment
      |
      | value?.length        // This works, results in 'length' or 'null'
      |
    .fragment
      |
      | value?.length ?: "Default value"    // Elvis operator! 'length' or 'Default value'
      |
    .fragment
      |
      | // Declare an immutable null value
      | val value: String? = null
      |
    .fragment
      |
      | if (value != null) {
      |     value.length        // Okay since the value couldn't have changed since check
      | }