h2 Important Syntax Changes
  h4.fragment No 'new' keyword
  pre.fragment
    code.lang-kotlin
      | val myList = ArrayList()
  h4.fragment Class Declarations
  pre.fragment
    code.lang-kotlin
      | // Primary constructor defined inline with class definition
      | class MyClass(val a: String,  // Class-level immutable
      |               var b: String,  // Class-level mutable
      |               c: String) {   // Method-scope variable
      .fragment
        |   constructor(d, e, f) {} // Secondary constructors can be defined as well
      .fragment
        |   var a, var b  // Can define class-level variables outside primary constructor
      | }
  h4.fragment Default Arguments
  pre.fragment
    code.lang-kotlin
      | class MyClass(val arg1: String = "ABC",
      |               val arg2: String = "XYZ")
      |
      | val instance = MyClass(arg2 = "Captain Planet")
