h2 Important Syntax Changes
  h4.fragment No 'static' keyword
  p.fragment Functions can be declared at 'package' scope (No more Utility Classes!)
  h4.fragment Equality
  pre.fragment
    code.lang-kotlin
      | a == b    // Content equality -> a.equals(b)
      | a === b   // Instance equality
  h4.fragment Object vs. Any
  p.fragment Java's 'Object' type is called 'any' in Kotlin
  p.fragment 'Object' is a special construct in Kotlin
  pre.fragment
    code.lang-kotlin
      | object { .. }  // Singleton
      | companion object { .. }  // Static singleton