div.fragment
  h4 No Checked Exceptions

div.fragment
  h4 Type Aliases

  pre
    code.lang-kotlin
      | typealias KeyValuesMap = Map&lt;String, List&lt;String&gt;&gt;
      |
      | val myMap = mapOf&lt;String, List&lt;String&gt;&gt;()
      | val notMyMap = mapOf&lt;Int, List&lt;Long&gt;&gt;()
      |
      | fun main(args: Array&lt;String&gt;) {
      |     println(myMap is Map)              // true
      |     println(myMap is KeyValuesMap)     // true
      |     println(notMyMap is KeyValuesMap)  // Error due to type erasure
      | }

div.fragment
  h4 Destructuring
  pre
    code.lang-kotlin
      | data class ComplexClass(val name: String, val description: String, val address: String)
      |
      | val myComplexObject = ComplexClass("A", "B", "C")
      |
      | val (first, second, third) = myComplexObject
      | // first = "A", second = "B", third = "C"