span
  h3.fragment Oh yeah...
  h3.fragment it also natively compiles to JavaScript.

video.fragment(autoplay, loop, data-ignore, width="375", height="300")
  source(src="../../../resources/images/much_excite.mp4", type="video/mp4")