h2 Ranges

pre.fragment
  code.lang-kotlin
    | val 1..10 step 2 // 2 4 6 8 10
    |
    | val 1 until 10 // Array of values from 1 to 9 (Excludes 10)
    |
    | val range = 10 downTo 1   // Descending array of values