h2 Operator Overloading

p Declare a function using the 'operator' keyword

pre.fragment
  code.lang-kotlin
    | class CreditCard(val creditLimit: Long) {
    |
    |     // Using 'operator' keyword in combination with preset
    |     // function names overrides the operator
    |     operator fun plus(other: CreditCard): Long {
    |         return creditLimit + other.creditLimit
    |     }
    | }

pre.fragment
  code.lang-kotlin
    | val mastercard = CreditCard(5000)
    | val visa = CreditCard(10000)
    |
    .fragment
      |
      | fun main(args: Array&lt;String&gt;) {
      |     println(mastercard + visa)  // Prints '15000'
      | }

div.fragment
  video.fill.centered(autoplay, loop, data-ignore)
    source(src="../../../resources/images/awesome.mp4", type="video/mp4")