h2 Template Strings
pre.fragment
  code.lang-kotlin
    | val name = "Bobby"
    | val address = "123 Fake St."
    |
    .fragment
      |
      | println("$name lives at $address")    // Bobby lives at 123 Fake St.