h2 Type Aliases

pre
  code.lang-kotlin
    | class CurrentContextManagementInterface {}
    |
    | val valueA: CurrentContextManagementInterface = ..
    |
    .fragment
      |
      | valueA is CurrentContextManagementInterface       // true
    .fragment
      |
      | typealias CtxMgr = CurrentContextManagementInterface
    .fragment
      |
      | valueA is CtxMgr                                  // true
      |
