h2 Destructuring

pre
  code.lang-kotlin
    | data class Person(val name: String,
    |                         val description: String,
    |                         val address: String)
    |
    .fragment
      |
      | val person = Person("Bobby", "Kid!", "123 Fake St.")
      |
    .fragment
      |
      | val (first, second, third) = person
      | // first = "Bobby", second = "Kid!", third = "123 Fake St."