img.medium-img(src="../../../resources/images/github-logo.png")

h3 Slides and source available on GitHub

a(href="https://www.github.com/mike-plummer/intro-to-kotlin")
  p https://www.github.com/mike-plummer/intro-to-kotlin
