img.medium-img(src="../../../resources/images/github-logo.png")

h2 Slides and source available on GitHub

a(href="https://www.github.com/mike-plummer/intro-to-kotlin")
  h4 https://www.github.com/mike-plummer/intro-to-kotlin