h2 Default Arguments

pre.fragment
  code.lang-kotlin
    | class Book(val name: String = "Hitch Hiker's Guide",
    |            val author: String? = "D. Adams")
    |
    | val myBook = Book(author = "Adams, Douglas")
