h2 Default Arguments

pre.fragment
  code.lang-kotlin
    | fun CoffeeMug(val contents: String? = "Coffee",
    |               val volume: Double = 8.0)
    |
    .fragment
      |
      | val mug = CoffeeMug()   // contents = "Coffee", volume = 8.0
    .fragment
      |
      | val mug = CoffeeMug("Tea", 12.0)  // contents = "Tea", volume = 12.0
    .fragment
      |
      | val mug = CoffeeMug(volume = 32.0)  // contents = "Coffee", volume = 32.0
