h2 Default Arguments

pre.fragment
  code.lang-kotlin
    | class Book(val name: String = "Hitch Hiker's Guide",
    |            val author: String? = "D. Adams")
    |
    .fragment
      |
      | val myBook = Book()
    .fragment
      | val myBook = Book("Nancy Drew", "Carolyn Keene")
    .fragment
      | val myBook = Book(author = "Joe Bobberson")
