h2 Default Arguments

pre.fragment
  code.lang-kotlin
    | class MyClass(val arg1: String = "ABC",
    |               val arg2: String = "XYZ")
    |
    | val instance = MyClass(arg2 = "Captain Planet")
