h2  Access modifiers

div
  table
    tr.fragment
      td(style="font-family: monospace;") public
      td Just like Java, default
    tr.fragment
      td(style="font-family: monospace;") private
      td Just like Java
    tr.fragment
      td(style="font-family: monospace;") protected
      td Java minus package visibility
    tr.fragment
      td(style="font-family: monospace;") internal
      td Public within module

br
p.fragment Module = IntelliJ project module, Gradle source-set, Maven project