h2 Function Declarations

div
  table
    tr(style="font-family: monospace;")
      td.fragment(data-fragment-index="1", style="text-align: right;") fun
      td.fragment(data-fragment-index="2") add
      td.fragment(data-fragment-index="3") (a: Int, b: Int)
      td.fragment(data-fragment-index="4") : Int
    tr
      td.fragment(data-fragment-index="1") Keyword
      td.fragment(data-fragment-index="2") Name
      td.fragment(data-fragment-index="3") Parameters
      td.fragment(data-fragment-index="4") Return Type

pre.fragment
  code.lang-kotlin
    | fun add(a: Int, b: Int): Int {
    |     return a + b;
    | }