h2 Class Declarations

pre.fragment
  code.lang-kotlin
    | class Book {
    |     var name: String
    |     var author: String?
    |
    |     constructor(name: String, author: String?) {
    |         this.name = name
    |         this.author = author
    |     }
    | }

h5.fragment Primary Constructor
pre.fragment
  code.lang-kotlin
    | class Book(var name: String,
    |            var author: String?)

p.fragment Final by default, add 'open' to allow extension
p.fragment Interfaces, Abstract, and Enums