h2 Smart Casts & Inference

pre
  code.lang-kotlin
    | val unknownValue: Any = listOf("A", "B", "C")
    |
    .fragment
      |
      | unknownValue is Any                       // true
      |
    .fragment
      |
      | unknownValue is List                      // true
      |
    .fragment
      |
      | val unsafeCast = unknownValue as String   // Unsafe cast, throws ClassCast error
      |
    .fragment
      |
      | val safeCast = unknownValue as? String    // Safe cast, results in 'null'
      |
    .fragment
      |
      | if (unknownValue is List) {
      |     unknownValue.size()                   // Don't have to re-cast like in Java!
      | }
      |
    .fragment
      |
      | val valueAsList: List? = unknownValue as? List
      | valueAsList.?size()                       //  Kotlin knows this is a List or null

div.centered.fragment
  video(autoplay, loop, data-ignore)
    source(src="../../../resources/images/chuck-norris.mp4", type="video/mp4")